#main-navbar {
	background-color: red;
	overflow:hidden;
}

#main-navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 50%;
	float: left;
}
#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}
#main-navbar ul li a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	color: #fff;
}
#navbar-container ul li a:hover {
	background-color: #000;
}

#onpage {
	text-decoration: underline overlap;

}

#sidebar {
	position: fixed;
	right: 0%;
	background-color: blue;
	height: 100%;
	width: 20%;
}

#sidebar ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}
#sidebar ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px;
}

#sidebar ul li a:hover {
	background-color: #000;
}